{% extends 'base.html' %} {% block title %}Charts{% endblock title %}
{% load static %}
{% block content %}
  <canvas id="myChart" width="400px" height="400px"></canvas>
{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  function processData(dataset) {
    var result = [];
    dataset = JSON.parse(dataset);
    dataset.forEach((item) => result.push(item.fields));
    return result;
  }

  function count(arr){
    var counts = {};
    for (var i = 0; i < arr.length; i++) {
      counts[arr[i]] = 1 + (counts[arr[i]] || 0);
    }
    return counts;
  }

  function labels(dataset){
    let labels=[];
    dataset.forEach((item)=>labels.push("player " + item[0]));
    return labels;
  }

  function games(dataset){
    let values=[];
    dataset.forEach((item)=>values.push(item[1]));
    return values;
  }

  $.ajax({
    url: 'http://127.0.0.1:8000/data',
    dataType: "json",
    success: function (data) {
      let a = processData(data);
      let players = [];
      a.forEach((item)=>players.push(item.player));
      p=Object.entries(count(players));

      var ctx = document.getElementById("myChart").getContext("2d");
      ctx.canvas.parentNode.style.height = '400px';
      ctx.canvas.parentNode.style.width = '400px';
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels(p),
          datasets: [
            {
              label: "# of games",
              data: games(p),
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    },
  });
</script>
{% endblock scripts %}
