{% extends 'base.html' %}
{% block title %} Creadores {% endblock title %}
{% block content %}
  {% load static %}
  <header>{% include 'includes/nav.html' %}</header>

  <section class="container" id="creadores">
    <div class="row" id="info">
      <h1>Creadores</h1>
      <div class="col-md-12" id="info_juego">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat
          iure quasi corrupti quia fugiat deserunt voluptatum reprehenderit.
          Cumque voluptas odit architecto vitae ut temporibus hic error
          doloremque, esse expedita!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat
          iure quasi corrupti quia fugiat deserunt voluptatum reprehenderit.
          Cumque voluptas odit architecto vitae ut temporibus hic error
          doloremque, esse expedita!
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat
          iure quasi corrupti quia fugiat deserunt voluptatum reprehenderit.
          Cumque voluptas odit architecto vitae ut temporibus hic error
          doloremque, esse expedita!
        </p>
      </div>
    </div>
  </section>

  {% include 'includes/footer.html' %}
{% endblock content %}
