{% extends 'base.html' %}
{% block title %} Creadores {% endblock title %}
{% block content %}
  {% load static %}
  <header>{% include 'includes/nav.html' %}</header>

  <section class="container" id="creadores">
    <h1>Creadores</h1>
    </br>
    <div class="row" id="info">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/ivan.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Ivan Stacul</h3>
              <p>Desarrollo Backend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
       <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/rocio.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Rocío Aguirre Cerullo</h3>
              <p>Desarrollo Frontend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
       <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/fabian.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Fabian Aguirre</h3>
              <p>Desarrollo Frontend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
    </br>
    <div class="row" id="info">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/facu.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Facundo Grab</h3>
              <p>Desarrollo Backend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
       <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/flor.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Florencia Sevilla</h3>
              <p>Desarrollo Frontend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
       <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/creadores/juanse.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Juan Sebastian Romero</h3>
              <p>Desarrollo Frontend.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
      </div>
    </div>
    </br>
  </section>

  {% include 'includes/footer.html' %}
{% endblock content %}
