{% extends 'base.html' %}
{% block title %} Ranking Chacú-py {% endblock title %}
{% block content %}
  {% load static %}
  <header>{% include 'includes/nav.html' %}</header>

  <section class="container" id="ranking">
    <div class="row" id="info">
      <h1>Ranking Chacú-py</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Puesto</th>
            <th scope="col">Jugador</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizzes %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>@{{ quiz.player.user.username }}</td>
              <td>{{ quiz.time }}</td>
              <td>{{ quiz.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% include 'includes/footer.html' %}
{% endblock content %}
