{% extends 'core/admin/base.html' %}
{% block base %}

  {% include 'core/admin/navbar.html' %}
  {% include 'core/admin/slidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        {# Titulo de la página #}
        <div class="row mb-2">
          <div class="col-sm-12">{% block 'header-content' %}{% endblock 'header-content' %}</div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">{% block 'main-content' %}{% endblock 'main-content' %}</div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include 'core/admin/right-slidebar.html' %}
  {% include 'core/admin/footer.html' %}
{% endblock base %}
