{% extends 'core/admin/app.html' %}
{% load static %}
{% block 'header-content' %}
<h1 class="m-0 text-dark text-bold">Resumen</h1>
{% endblock 'header-content' %}
{% block 'main-content' %}
  {# Sección de resumen de actividad #}
  <div class="row">
    {# Summary 1 #}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fa fa-newspaper"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Partidas Jugadas</span>
          <span class="info-box-number">{{ quiz_count }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    {# Summary 2 #}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-file-pdf"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Jugadores</span>
          <span class="info-box-number">{{players_count}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="clearfix hidden-md-up"></div>

    {# Summary 3 #}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-video"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Videos</span>
          <span class="info-box-number">50</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    {# Summary 4 #}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Afiliados</span>
          <span class="info-box-number">2,000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>

  <div class="row">

    <div class="col-xl-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Area Chart</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 487px;" class="chartjs-render-monitor" width="487" height="250"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    {# Partidas diarias #}
    <div class="col-xl-6">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Partidas diarias</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 487px;" class="chartjs-render-monitor" width="487" height="250"></canvas>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
{% endblock 'main-content' %}

{% block script %}
<script src="{% static 'admin/plugins/chart.js/Chart.min.js' %}"></script>
<script>
$(function () {
    $.ajax({
      url: 'http://localhost:8000/data?chart=logs',
      dataType: "json",
      success: function (data) {
        var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

        var areaChartData = {
          labels  : data.labels,
          datasets: [
            {
              label               : 'Digital Goods',
              backgroundColor     : 'rgba(60,141,188,0.9)',
              borderColor         : 'rgba(60,141,188,0.8)',
              pointRadius          : false,
              pointColor          : '#3b8bba',
              pointStrokeColor    : 'rgba(60,141,188,1)',
              pointHighlightFill  : '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data                : data.values
            }
          ]
        }

        var areaChartOptions = {
          maintainAspectRatio : false,
          responsive : true,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              gridLines : {
                display : false,
              }
            }],
            yAxes: [{
              gridLines : {
                display : false,
              }
            }]
          }
        }

        new Chart(areaChartCanvas, {
          type: 'line',
          data: areaChartData,
          options: areaChartOptions
        })
      },
    });


    $.ajax({
      url: 'http://127.0.0.1:8000/data?chart=games',
      dataType: "json",
      success: function (data) {
        var ctx = document.getElementById("lineChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: data.dates,
            datasets: [
              {
                label: "# de partidas por día",
                data: data.values,
                borderColor: "rgb(75, 192, 192)",
                tension: 0.1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      },
    });

  });
</script>
{% endblock script %}
