{% extends 'core/admin/app.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  href="{% static 'admin/plugins/select2/css/select2.min.css' %}"
/>
{% endblock style %} {% block 'header-content' %}
<h1 class="m-0 text-dark text-bold">Opciones</h1>
{% endblock 'header-content' %} {% block 'main-content' %}

{% include 'core/admin/status.html' %}
  <div class="row">
    <div class="col-md-12">
      <!-- Horizontal Form -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Ingrese los datos del categoria</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form
          class="form-horizontal"
          method="POST"
          action="{% url 'trivia_options_edit' option_id=option_edit.id %}"
        >
          {% csrf_token %}
          <div class="card-body">
            <p class="text-bold">
              <span style="color: red">*</span> Campos obligatorios
            </p>
            <hr />

            {# Question and level #}
            <div class="row">
              {# Question #}
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- select -->
                  <label for="question_id"
                    >Pregunta <span style="color: red">*</span></label
                  >
                  <select
                    required
                    class="form-control select2"
                    style="width: 100%"
                    name="question_id"
                  >
                    <option value="" selected>Seleccione una pregunta</option>
                    {% for question in questions %}
                    <option value="{{question.id}}"
                      {% if option_edit.question_id == question.id %}
                      selected
                      {% endif %}
                    >{{question.content}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              {# Level #}
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- select -->
                  <label for="level_id"
                    >Nivel <span style="color: red">*</span></label
                  >
                  <select
                    {% comment %} required {% endcomment %}
                    class="form-control select2"
                    style="width: 100%"
                    name="level_id"
                  >
                    <option value="" selected>Seleccione una nivel</option>
                    {% for level in levels %}
                    <option
                      value="{{level.id}}"
                      {% if option_edit.level_id == level.id %}
                      selected
                      {% endif %}
                    >
                      {{level.name}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            {# Content #}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="content"
                    >Contenido <span style="color: red">*</span></label
                  >
                  <input
                    {% comment %} required {% endcomment %}
                    type="text"
                    id="content"
                    class="form-control"
                    name="content"
                    placeholder="Contenido ..."
                    value="{{option_edit.content}}"
                  />
                </div>
              </div>
            </div>

            {# IsCorrect #}
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="isCorrect"
                      {% if option_edit.isCorrect == True %}
                      checked
                      {% endif %}
                    />
                    <label class="form-check-label">Es correcta</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-info float-right">Editar</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock 'main-content' %}

{% block script %}
  <script src="{% static 'admin/plugins/select2/js/select2.full.min.js' %}"></script>
{% endblock script %}
