{% extends 'base.html' %} 
{% block title %} Configuración de la partida {%endblock title %} 
{%block styles %} 
  {% load static %}
  <link href="{% static 'css/play.css' %}" rel="stylesheet" />
{% endblock styles %} 
{% block content %}
  <form action="{% url 'config' %}" method="POST">
    {% csrf_token %}
    <div class="container mt-5">
      <div class="config py-2 px-4">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12 bg-info p-4 mx-2 header">
                Hola, {{user.username}}
              </div>
              <div class="col-12 pt-4">
                {% if levels %}
                  <label for="level">Dificultad</label>
                  <select name="level" class="custom-select" required>
                      <option selected>Open this select menu</option>
                    {% for level in levels %}
                      <option value="{{level.id}}">{{level.name}}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  <div class="alert alert-danger" role="alert">
                    Lo sentimos, algo salió mal 😥, no hay un nivel para seleccionar.
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row ">
              <div class="col-12 bg-danger p-4 header">tus puntos</div>
              <div class="col-12 pt-4">
                {% if categories %}
                  <label for="level">Categoría</label>
                  <select name="category" class="custom-select" required>
                    <option selected>Open this select menu</option>
                    {% for category in categories %}
                      <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  <div class="alert alert-danger" role="alert">
                    Lo sentimos, algo salió mal 😥, no hay una categoría para seleccionar.
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-content-center pt-3">
        <button class="btn btn-success" type="submit">Next</button>
      </div>
    </div>
  </form>
{% endblock content %}
