
{% extends 'base.html' %}
{% block title %}Trivia de preguntas{% endblock title %}
{% block content %}
  {% load static %}
	<header>
    {% include 'includes/nav.html' %}
	</header>

  <section>
    <div class="container" id="modos_de_juego">
      <div class="row">
        <div class="col-md-4 col text-center">
          <h2 class="sub_title">@{{request.user.username}}</h2>
        </div>
        <div class="col-md-4 col text-center">
          <h2 class="sub_title">Categoría: {{trivia.category}}</h2>
        </div>
        <div class="col-md-4 col text-center">
          <h2 class="sub_title">Tus puntos:</h2>
        </div>
      </div>
    </div>
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="container" id="play">
        <div class="row">
          <div class="col-md-12 text-center">
            {% if error and trivia %}
              <div class="alert alert-danger" role="alert">
                {{error}}
                <p>Puntaje: {{trivia.score}}/{{max_score}}</p>
              </div>
            {% else %}
              <h2 class="sub_title">Preguntas del desafío</h2>
              <br>
                <div id="pregunta">
                  <div class="col-md-12 text-center" id="nav_preg">
                    <div class="row">
                            {% if question %}
                              <input type="number" name="question_id" value="{{ question.pk }}" hidden>
                              <input type="number" name="trivia_id" value="{{ trivia.pk }}" hidden>
                              <h4>{{question.content}}</h4>
                              <br>
                               <br>
                              {# Opciones #}
                              <div class="row">
                                {% for option in options %}
                                    <div class="col-md-4">
                                      <input class="form-check-input" type="radio" name="answer" id="btn-check" value="{{ option.pk }}">
                                      <label class="form-check-label" for="btn-check">{{ option.content }}</label>
                                    </div>
                                {% empty %}
                                <div class="alert alert-danger" role="alert">
                                  No hay opciones para la pregunta
                                </div>
                                {% endfor %}
                              </div>
                              </div>
                              </br>
                                  <button type="submit" class="btn btn-primary-outline">
                                    <img src="{% static 'img/btn/siguiente_.png' %}" class="bot">
                                  </button>
                    </div>
                  </div>
                </div>
                {% else %}
                  <div class="alert alert-danger" role="alert">
                    Lo sentimos, algo salió mal 😥, no hay una pregunta para que puedas
                    responder. Pero no te preocupes, no es tu culpa 🙌. Intenta más tarde, tal
                    vez el problema se solucione, o <a href="{% url 'contact' %}">¡hablanos!</a>.
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
    </form>
  </section>
 {% include 'includes/footer.html' %}
{% endblock content %}
