
{% extends 'base.html' %}
{% block title %} Configuración de Nueva Partida{% endblock title %}
{% block content %}
  {% load static %}
	<header>
       {% include 'includes/nav.html' %}
	</header>

    <section>
		  <div class="container" id="conf_partida">
        	<div class="row" id="info">
				    <h2 class="text-center">Nueva partida</h2>
				    <div class="col-md-12" id="info_juego">
					    <p>Para comenzar una partida, seleccioná el nivel de dificultad deseado entre los niveles: principiante, intermedio y avanzado. Posteriormente, deberás seleccionar la categoría temática para comenzar a jugar.</p>
			    	</div>
			    </div>
		  </div>
    </section>


	<section>
		<div class="container" id="modos_de_juego">
			<div class="container">
				<div class="row">
					<div class="container">
							<div class="col-md-12 col text-center">
								<img src="{% static 'img/isotipo_chacu.png' %}" class="img-fluid" style="max-width: 20%">
                <h2 class="sub_title">Hola @Nombre_Jugador</h2>
							</div>
							</br>
					</div>
					<div class="col-md-6 col text-center">
						<h2 class="sub_title">Nivel de Dificultad</h2>
						<select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
							<option selected>Seleccionar nivel</option>
							<option value="1">Principiante</option>
							<option value="2">Intermedio</option>
							<option value="3">Avanzado</option>
						</select>
					</div>

					<div class="col-md-6 col text-center">
						<h2 class="sub_title">Categoría Temática</h2>
						<select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
							<option selected>Seleccionar categoría</option>
							<option value="1">Cultura y Arte</option>
							<option value="2">Historia</option>
							<option value="3">Deporte</option>
							<option value="2">Geografía</option>
							<option value="3">Economía</option>
							<option value="2">Cienncia y Educación</option>
							<option value="3">Entretenimiento</option>
						</select>
					</div>
				</div>
				</br>
			</div>
		</div>
		<div class="container" id="play">
				<div class="col-md-12 col text-center ">
					<a href="#"><img src="{% static 'img/btn/btn-jugar.png' %}" class="bot"></a>
					<br></br>
				</div>
		</div>
	</section>
 {% include 'includes/footer.html' %}
{% endblock content %}
