{% extends 'base.html' %}
{% block title %}Partida Finalizada{% endblock title %}
{% load static %}
{% block meta %}
  <meta name="robots" content="index, follow" />
  <meta name="language" content="es_ES" />
  <meta name="description" content="CHACÚ.py es un juego gratuito, didáctico y de habilidad, de preguntas y respuestas en torno a la Provincia el Chaco.">

  <meta property="og:site_name" content="CHACÚ.py" />
  <meta property="og:locale" content="es_LA" />
  <meta property="og:title" content="CHACÚ.py | Juego de preguntas y respuestas" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="#" />
  <meta property="og:image" content="{% static '' %}" />
  <meta property="og:description" content="Resultados de la partida para el Jugador {{trivia.player.user.username}}">


  <meta name="twitter:title" content="JUFEPAZ | Junta Federal de Justicia de Paz de Argentina" />
  <meta name="twitter:url" content="#" />
  <meta name="twitter:image" content="{% static '' %}" />
  <meta name="twitter:description" content="Resultados de la partida para el Jugador {{trivia.player.user.username}}" />
{% endblock meta %}
{% block content %}
  {% load static %}
	<header>
    {% include 'includes/nav.html' %}
	</header>

  	<section>
		<div class="container" id="fin">
				<div class="row" id="detalle">
					<div class="col-md-12 text-center">
						<h2 class="title">Partida Finalizada!!</h2>
						<h2 class="sub_title">Felicidades @{{trivia.player.user.username}}</h2>
						<div class="row" id="punt">
							<div class="col-md-6 left">
								<h2 class="title">Puntos obtenidos:</h2>
							</div>
							<div class="col-md-6">
								<h2 class="title">#{{trivia.score}}</h2>
							</div>
						</div>

						<div class="row" id="opciones">
							<div class="col-md-4">
							  <a href="{% url 'home' %}">
                  <img src="{% static 'img/btn/home.png' %}" class="bot" style="max-width: 80%">
                </a>
							</div>
							<div class="col-md-4">
							  <a href="{% url 'ranking' %}">
                  <img src="{% static 'img/btn/rank.png' %}" class="bot" style="max-width: 80%">
                </a>
							</div>
							<div class="col-md-4">
							  <a href="{% url 'config' %}">
                  <img src="{% static 'img/btn/nuevo.png' %}" class="bot" style="max-width: 80%">
                </a>
							</div>
              <!-- COMPARTIR EN FACEBOOK -->
              <div id="fb-root"></div>
              <script
                async defer crossorigin="anonymous" nonce="K1yq99K5"
                src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v11.0">
              </script>
              <div
                class="fb-share-button"
                data-href="{{request.build_absolute_uri}}"
                data-layout="button"
                data-size="large"
              >
                <a
                  target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u={{url_share}}&amp;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">
                    Compartir
                </a>
              </div>
						</div>
					</div>
				</div>
		</div>
	</section>
  {% include 'includes/footer.html' %}
{% endblock content %}
